body{
    background-color: rgb(58, 56, 56);
}
.tile > img {
    transform: scale(1.01);
    transition-duration: 200ms;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    border-radius: inherit;
}
.tile{
    border-radius: 7%;
}
.tile:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition-duration: 500ms;
}
.tile:hover > img {
    opacity: 1;
}
#box1 {
    background-color: brown;
    margin-top: 2%;
    margin-left: 1%;
    height: 26vh;
    width: 21vh;
}
#box2 {
    background-color: rgb(32, 220, 38);
    margin-top: -12%;
    margin-left: 15%;
    height: 19vh;
    width: 30vh;
}
#box3 {
    background-color: rgb(32, 88, 220);
    margin-top: 3%;
    margin-left: 21%;
    height: 30vh;
    width: 25vh;
}
#box4 {
    background-color: rgb(220, 32, 217);
    margin-top: -10%;
    margin-left: 2%;
    height: 19vh;
    width: 30vh;
}
#box5 {
    background-color: rgb(32, 220, 204);
    margin-top: 5%;
    margin-left: 20%;
    height: 23vh;
    width: 30vh;
}
#box6 {
    background-color: rgb(251, 255, 0);
    margin-top: -12%;
    margin-left: 2%;
    height: 30vh;
    width: 27vh;
}
#box7 {
    background-color: rgb(255, 166, 0);
    margin-top: -27%;
    margin-left: 37%;
    height: 24vh;
    width: 37vh;
}
#box8 {
    background-color: rgb(162, 75, 38);
    margin-top: -29%;
    margin-left: 36%;
    height: 30vh;
    width: 24vh;
}
#box9 {
    background-color: rgb(34, 206, 138);
    margin-top: -12%;
    margin-left: 52%;
    height: 24vh;
    width: 34vh;
}
