body{
    background-image: url(./images/bg-box.jpeg);
    background-size:cover;
}
*{
}
.tile > img {
    height: 100%;
    width: 100%;
    object-fit:cover;
    opacity: 0;
    transition-duration: 500ms;
    border-radius: inherit;
}
.tile{
    position:fixed;
    transition-duration: 500ms;
    transform: scale(1);
    cursor: pointer;
    border-radius: 7%;
}
.tile:hover{
    transform: scale(1.1);
    transition-duration: 500ms;
}
.tile:hover > img {
    transform: scale(1.01);
    transition-duration: 500ms;
    opacity: 1;
}
#box1 {
    background-color: brown;
    top: 1vh;
    left: 2vw;
    height: 26vh;
    width: 10vw;
}
#box2 {
    background-color: rgb(32, 220, 38);
    top: 12vh;
    left: 18vw;
    height: 25vh;
    width: 18vw;
}
#box3 {
    background-color: rgb(32, 88, 220);
    top: 4vh;
    left: 46vw;
    height: 20vh;
    width: 15vw;
}
    #box4 {
    background-color: rgb(220, 32, 217);
    top: 33vh;
    left: 58vw;
    height: 25vh;
    width: 14vw;
}
#box5 {
    background-color: rgb(32, 220, 204);
    top: 2vh;
    left: 73vw;
    height: 28vh;
    width: 20vw;
}
#box6 {
    background-color: rgb(251, 255, 0);
    top: 64vh;
    left: 69vw;
    height: 30vh;
    width: 17vw;
}
#box7 {
    background-color: rgb(255, 166, 0);
    top: 74vh;
    left: 48vw;
    height: 20vh;
    width: 12vw;
}
#box8 {
    background-color: rgb(162, 75, 38);
    top: 33vh;
    left: 39vw;
    height: 34vh;
    width: 14vw;
}
#box9 {
    background-color: rgb(34, 206, 138);
    top: 60vh;
    left: 18vw;
    height: 30vh;
    width: 17vw;
}
#box10 {
    background-color: rgb(131, 243, 11);
    top: 35vh;
    left: 1vw;
    height: 25vh;
    width: 14vw;
}
#box11 {
    background-color: rgb(255, 121, 208);
    top: 70vh;
    left: 2vw;
    height: 25vh;
    width: 9vw;
}
#box12 {
    background-color: rgb(255, 53, 53);
    top: 36vh;
    left: 87vw;
    height: 25vh;
    width: 9vw;
}