header{
    color: rgb(255, 255, 82);
    background-color: rgb(35, 0, 68);
    padding: 1%;
    text-align: center;
    border-radius: 29px;
    border: solid;
}
main{
    color: white;
    background-image: url(./images/pattern2.jpeg);
    background-size: cover;
    text-align: center;
    border: 5px solid #17002b;
    border-radius: 15px;
    width: fit-content;
    margin: auto;
}
#dp {
    width: 60%;
    border: solid rgba(0, 20, 126, 0.35);
    border-radius: 16px;
  }
#info{
    line-height: 1.5;
}
.bg-31{
    background-image: url(./images/main-bg.jpeg);
    background-attachment: fixed;
}
footer{
    color: white;
    background-color: black;
    text-align: center;
}